<!DOCTYPE html>
<html>
    <head>
        <title>Assignments</title>
    <head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="assignments.html">Assignments</a>
            <a href="classes.html">Classes</a>
        </nav>
    <p>An assignments page. This could include
    <br>  - A brief (1-2 sentence) summary for each homework assigned in 1006
    <br>  - A few sentences explaining what your favorite assignment this semester was and why
    </p>
    <ul>
        <li>HW1</li>
        <li>HW2</li>
        <li>HW3</li>
        <li>HW4</li>
        <li>HW5</li>
    </ul>
    </body>
</html>
