<!DOCTYPE html>
<html>
    <head>
        <title>Assignments</title>
        <link rel="stylesheet" href="../static/styling.css">
    <head>
    <body>
        <nav>
            <a href="./">Home</a>
            <a href="assignments.html">Assignments</a>
            <a href="classes.html">Classes</a>
        </nav>

        <h3>Past Assignments:</h3>

        <ul>
            <li>
                <h6>HW1A:</h6>
                In this assignment, we were asked to use and convert convert binary numbers to different formats and number systems such as positive binary, signed binary, one's complement, two's complement, and octal.
                In addition, we learned about pseudocode for algorithms and basic truth tables.
            </li>

            <li>
                <h6>HW1B:</h6>
                In this assignment, we wrote our very first Python program that asks the user for their name and printed out the letters that compose it.
                In addition, created several functions to perform operations on lists to make us more comfortable using lists in Python.
            </li>

            <li>
                <h6>HW2A:</h6>
                In this assignment, we experimented with sorting algorithms to witness how the values of a list affect the number of iterations needed to sort it.
                Also, we identified the advantages and disadvantages of sorting a list before searching and when sorting increases overall efficiency.
            </li>

            <li>
                <h6>HW2B:</h6>
                In this assignment, we created functions to plot the trajectory of a particle fired straigth into the air.
                In addition, we created several foundational functions to analyze a dataset from a Comma Separated Values file.
            </li>

            <li>
                <h6>HW3A:</h6>
                In this assignment, we practiced identifying the time complexity of several functions using their pseudocode.
                Next, we practiced writing recursive functions in Python.
            </li>

            <li>
                <h6>HW3B:</h6>
                In this assignment, we created a Python program to vertically percolate through a predefined array.
                Futhermore, we created more functions about manipulating a Comma Separated Values database seen in HW2B.
            </li>

            <li>
                <h6>HW4:</h6>
                In this assignment, we explored using Object Oriented Programming to model a class, a teacher, students, and assignments.
                We accomplished this by defining a class for class, teacher, student, and assignment and then creating object using the class templates.
            </li>

            <li>
                <h6>Midterm:</h6>
                For the midterm, we manipulated images in the form of Portable Pix Map files.
                We were given three tasks: filter objects from two or more images, remove color from an image, and horizontally flip an image.
            </li>

            <li>
                <h6>HW5:</h6>
                In this assignment, we were asked to complete the work from HW2B and HW3B using the file "wdbc.csv" containing data about cell in human breast cancer tissue.
                This required us to write several Python functions to compute statistics about the dataset, plot the results, and make predictions about the data.
            </li>

            <li>
                <h6>Final Project:</h6>
                This is the assignment you are currently viewing.
                In this assignment we were asked to create a Git repository and populate it with a server that display three websites using Flask and Python.
            </li>
        </ul>

        <br>

        <h3>Favorite Assignment:</h3>
        <p>
            I liked the Midterm assignment the best, because it was the most visual of the assignments.
            Being able to directly open the image and see the result of my program was enjoyable.
            That way, it was easier to see where I went wrong and better identify the source of my errors.
            Upon completion of the program, I was able to run in with other images besides the ones provided and prove that I had succeeeded.
        </p>
    </body>
</html>
