<!DOCTYPE html>
<html>
    <head>
        <title>Classes</title>
        <link rel="stylesheet" href="styling.css">
    <head>
    <body>
        <nav>
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignments</a>
            <a href="classes.html">Classes</a>
        </nav>

        <h3>Spring 2020 Courses:</h3>

        <table>
            <tbody>
                <tr>
                    <th>Course Title</th>
                    <th>Instructor</th>
                    <th>Course Description</th>
                </tr>
                <tr class="evenRows">
                    <td>COMS W1004</td>
                    <td>Adam Cannon</td>
                    <td>An introduction to computer science for computer science to teach students fundamental Java programming skills, knowledge of the fundamental concepts in computer science, and algorithmic problem-solving capabilities.</td>
                </tr>
                <tr>
                    <td>ELEN E1201</td>
                    <td>David Vallancourt</td>
                    <td>An introduction to electrical engineering covering simple circuits, op amps, RC circuits, RL circuits, transformers, AC, and diodes.</td>
                </tr>
                <tr class="evenRows">
                    <td>ENGI E1006</td>
                    <td>Timothy Paine</td>
                    <td>A practical introduction to the field of computer science covering the fundamentals of data structures, algorithms, and the python language.</td>
                </tr>
                <tr>
                    <td>ENGL CC1010</td>
                    <td>Rachel Rueckert</td>
                    <td>A course to teach undergraduates to read and write essays in order to participate in intellectual communities at Columbia and beyond.</td>
                </tr>
                <tr class="evenRows">
                    <td>PHYS UN1402</td>
                    <td>Georgia Karagiorgi</td>
                    <td>An introduction to the concepts of electricity, magnetism, and optics with basic working knowledge of Calculus assumed.</td>
                </tr>
                <tr>
                    <td>PHYS UN1405</td>
                    <td>Georgia Karagiorgi</td>
                    <td>Recitation for PHYS UN1402 to help students better understand the material and ask questions about concepts or problems they don't understand.</td>
                </tr>
            </tbody>
        </table>

        <br>

        <h3>Favorite Class:</h3>
        <p>
            Personally, my favorite class this semester has been COMS W1004. Over the course of this semester, I have learning a lot about programming and enjoy the creative projects due every other week. One such project was programming video poker in Java and then playing it with my family. Although challenging, I thought that the material was reasonable and stimulating. Also, I likely attending lecture with Professor Cannon and listening to his jokes every class.
        </p>
    </body>
</html>
