<!DOCTYPE html>
<html>
    <head>
        <title>Classes</title>
    <head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="assignments.html">Assignments</a>
            <a href="classes.html">Classes</a>
        </nav>
        <p>A classes page. This could include
        <br>  - A list (or an HTML table) of all the classes you’re taking/have taken this semester
        <br>  - A few sentences explaining what your favorite class taken so far has been
        </p>
        <table>
            <tbody>
                This is a table.
            </tbody>
        </table>
    </body>
</html>
