<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="styling.css">
    <head>
    <body>
        <nav>
            <a href="index.html">Home</a>
            <a href="assignments.html">Assignments</a>
            <a href="classes.html">Classes</a>
        </nav>

        <p>Name: Truman Gregg</p>

        <p>Picture: <br><img src="selfie.jpg" alt="A picture of me."></p>

        <p>Grade: Freshman</p>

        <p>Major: Computer Science</p>

        <p>Favorite Website: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">ENGI E1006</a></p>
    </body>
</html>
